<div class="col-12 ml-12 mt-8 d-md-flex pt-2 pl-0 min-vh-100 mr-4">
    <form class="form bg-light  col-12 p-2 min-vh-80 float-right" [formGroup]="counteraddtionForm">
        <div class="form-row">

            <div class="col-md-12 mt-3">
                <label>Counter No</label>
                <input type="text" class="form-control" formControlName="counter_no"
                    [ngClass]="{ 'is-invalid': submitted && f.counter_no.errors }" [(ngModel)]="counteraddtionobject.counter_no"
                    placeholder="Enter the Counter No " required>
                <div *ngIf="submitted && f.counter_no.errors" class="invalid-feedback">
                    <div *ngIf="f.counter_no.errors.required">Please Provide Counter No</div>
                </div>
            </div>
            

             <div class="col-md-12 mt-3">
                <label for="validationServer02">Counter Type</label>
                <select class="form-control" formControlName="counter_type" id="validationServer02"
                    [ngClass]="{ 'is-invalid': submitted && f.counter_type.errors }"
                    [(ngModel)]="counteraddtionobject.counter_type" required>
                    <option value="Pink Counter">Pink Counter</option>
                    <option value="Senior Citizen">Senior Citizen Counter</option>
                    <option value="Regular Counter">Regular Counter</option>
                </select>
                <div *ngIf="submitted && f.counter_type.errors" class="invalid-feedback">
                    <div *ngIf="f.counter_type.errors.required"> Please Provide Proper Counter type</div>
                </div>
            </div>
            
            <div class="col-md-12 mt-3">
                <div class="form-row float-right mr-4">

                    <button class="btn btn-primary float-right " type="button" (click)="Add();onReset()">Submit</button>


                </div>
            </div>

        </div>

    </form>

</div>

